@import "tailwindcss";

@theme {
	--color-primary-dark: oklch(32.749% 0.13359 27.308);
	--color-primary: oklch(62.197% 0.25019 27.366);
}

@layer base {
	body {
		@apply bg-gray-900 text-white;
	}
}

html {
	scrollbar-width: none;
}
